*{
    box-sizing: border-box;
}
/* Menu */
/* html{
    scroll-behavior: smooth;
} */
:root{
     --black:#000;
     --orange:#ffa500;
     --white:#fff;
    --smooth: all 0.2s ease-in;
}
/* .header{
    padding: 0;
    height: 100px;
}
.navbar{
    margin-top: 50px;
    background-color: var(--white) !important;
}
section{
    padding: 0;
}
.navbar-logo{
    font-size: 25px;
    font-weight: 500;
    color: var(--orange);
    transition: var(--smooth);
}

.nav-login{
    background-color: #f1ba54;
    padding: 8px 20px;
    border-radius: 50px;
    margin-right: 10px;
    a{
        color: var(--white);
        text-decoration: none;
    }
}
.nav-login:hover{
    background-color: var(--orange);
    transition: var(--smooth);
}

.nav-link{
    font-size: 18px;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 500;
}

.nav-link:hover{
    color: #ffa500;
}

.navbar-toggler{
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,.btn-close:focus{
    box-shadow: none;
    outline: none;
}


@media(min-width:991px){
    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: var(--orange);
        visibility: hidden;
    }

    .nav-link:hover::before, .nav-link.active::before{
        width: 100%;
        transition: var(--smooth);
        visibility: visible;
    }

    .banner .banner-right img{
        border-radius: 15px;
        margin: 0 10px;
        animation: animation 3s infinite linear;
        max-width: 100%;
        max-height: 100%;
    }
}
 */

 header{
    position: relative;
    width: 100%;
 }

.menu-nav{
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-logo a{
    text-decoration: none;
    color: var(--orange);
    font-size: 20px;
}

.nav-items{
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background-color: rgb(246, 204, 127);
    z-index: 5;
    transition: var(--smooth);
    list-style: none;
    transform: translateX(-100%);
    opacity: 0;
}

.nav-items.nav_open{
    transform: translateX(0);
    opacity: 1;
    transition: var(--smooth);
}

.nav-items.nav_close{
    transform: translateX(-100%);
    opacity: 0;
    transition: var(--smooth);
}

.nav-item{
    margin-bottom: 10px;
}

.nav-item a{
    text-decoration: none;
    color: #000;
    font-weight: 400;
    transition: var(--smooth);
    font-size: 18px;
}
.nav-link:hover{
    color: #ffa500;
}
.nav-link{
    position: relative;
}
.nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: var(--orange);
    visibility: hidden;
}

.nav-link:hover::before, .nav-link.active::before{
    width: 100%;
    transition: var(--smooth);
    visibility: visible;
}

.menu-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    cursor: pointer;
    transition: var(--smooth);
    z-index: 6;
}

.menu-icon{
    width: 45px;
    height: 6px;
    background-color: var(--orange);
    border-radius: 5px;
    transition: var(--smooth);
    position: relative;
}

.menu-icon::before,.menu-icon::after{
    content: "";
    position: absolute;
    width: 45px;
    height: 6px;
    background-color: var(--orange);
    border-radius: 5px;
    transition: var(--smooth);
}

.menu-icon::before{
    transform: translateY(-12px);
}
.menu-icon::after{
    transform: translateY(12px);
}

/* menu animation */

.open .menu-icon{
    transform: translateX(-50px);
    background: transparent;

}

.open .menu-icon::before{
    transform: rotate(45deg) translate(35px,-35px);
}
.open .menu-icon::after{
    transform: rotate(-45deg) translate(35px,35px);
}

@media (min-width: 62em) {
    .nav-items {
        margin-bottom: 0;
      position: initial;
      transform: translateX(0);
      opacity: 1;
      background-color: transparent;
      display: flex;
      justify-content: center;
      gap: 50px;
      align-items: center;
    }
  
    .nav-item a {
      color: var(--black);
    }
  
    .menu-icons {
      display: none;
    }
  }
  @media(max-width:991px){
    .nav-link{
        position: initial;
    }
    .nav-item:first-child{
        margin-top: 20px;
    }

    .nav-link:hover::before, .nav-link.active::before{
        width: 100%;
        transition: var(--smooth);
        visibility: visible;
    }
  }

/* Banner */
.banner{
    width: 100%;
    background-image: url("../img/banner1.png");
    background-size: cover;
    height: 500px;
    position: relative;
    margin-left: 0;
    margin-right: 0;
}
.banner-left{
    display: flex;
    align-items: center;
    padding: 10px;
}
.banner-right{
    display: flex;
    align-items: center;
    padding: 10px;
}


.banner .banner-left h3{
    font-size: 48px;
    color:#fff;
}

.banner .banner-left p{
    color: #D0D0D0;
}

.banner .banner-left button{
    width: 191px;
    height: 40px;
    margin-top: 41px;
    background-color: #1d1a1a;
    border: none;
    border-radius: 20px;
    color: #fff;
    outline: none;
    font-weight: bold;
    transition: 0.5s;
}

.banner .banner-left button:hover{
    background-color: orange;
}

.banner .banner-right img{
    width: 20.6666%;
    border-radius: 15px;
    margin: 0 10px;
    animation: animation 3s infinite linear;
    max-width: 100%;
    max-height: 100%;
    height:60%;
}
.banner .banner-right img:nth-child(2){
    width: 20.6666%;
    border-radius: 15px;
    margin: 0 10px;
    animation: animation 3s infinite linear;
    max-width: 100%;
    max-height: 100%;
    height:70%;
}
.banner .banner-right img:nth-child(1){
    animation-delay: 0.5s;
}

.banner .banner-right img:nth-child(2){
    animation-delay: 1s;
}

#banner .banner-right img:nth-child(3){
    animation-delay: 0.5s;
}

@keyframes animation{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}


/* Procduct */
.list-products .item img{
    width: 250px;
    height: 150px;
    max-width: 100%;
    max-height: 100%;
}

.item .starts span img{
    width: 100%;
    max-width: 20px;
    height: 100%;
    max-height: 20px;
}

.wp-product{
    padding: 116px 134px 25px;
}

.wp-product h2 {
    padding-top: 20px;
    font-size: 32px;
    text-align: center;
    margin-bottom: 76px;
    color: #626a67;
}

.list-products{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-wrap: wrap; */
    /* height: 848px; */
}

.list-products .row{
    gap: 10px;
}


.list-products .item{
    width: 290px;
    background-color: #362f2f;
    border-radius: 10px;
    margin-bottom: 30px;
    /* margin-right: 20px; */
    cursor: pointer;
}

.list-products .item img{
    display: block;
    margin: 0 auto;
    margin-top: 17px;
    object-fit: cover;
}

.list-products .item img:hover{
    transform:scale(1.02);
    transition:all 0.3s linear
    
}

.list-products .item .starts{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.list-products .item .name{
    text-align: center;
    color: #fff;
    margin-top: 17px;
    font-weight: bold;
    letter-spacing: 1px;
}

.list-products .item .desc{
    text-align: center;
    color: #626a67;
}
.list-products .item .price{
    text-align: center;
    color: #f42424;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}


.list-products .item .btn{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 10px;
}

.list-products .item button:hover{
    transition: var(--smooth);
    color: var(--orange);
    background-color: #9a3324;
}

.list-products .item button{
    font-weight: 500;
    border: none;
    width: 100%;
    color: var(--white);
    padding: 5px 20px;
    border-radius: 10px;
    background-color: var(--orange);
    outline: none;
}


.list-products .row{
    justify-content: center;
}

@media (max-width:736px){
    .list-products .item{
        width: 300px;
        background-color: #362f2f;
        border-radius: 10px;
        margin-bottom: 30px;
    }
    .wp-product{
        padding: 116px 20px 76px;
    }

    .list-page .item{
        width: 37px;
        height: 37px;
        margin: 0 20px;
        background: #362f2f;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}



/* Modal */
.modal-product{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    display: none;
    align-items: center;
    justify-content: center;
    animation: showModal linear 0.2s;
    z-index: 999;
}

.modal-product.openmodal{
    display: flex;
}



@keyframes showModal {
    from {
      top: -200px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }

.modal-body{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.modal-close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

.modal-close i{
    font-size: 25px;
    cursor: pointer;
}

.modal-close i:hover{
    transform: scale(1.08);
    transition: all 0.2 ease;
}

.modal-first p{
    text-align: center;
    margin-top: 20px;
    font-size: 22px;
    font-weight: 500;
    color: var(--orange);
}

.modal-body--title {
    margin-top: 20px;
    text-align: center;
}

.modal-body--title span{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}

.modal-body--price{
    text-align: center;
    color: red;
    font-weight: 500;
}

.modal-container{
    position: relative;
    /* background-color:rgb(254, 227, 179); */
    background-color: var(--white);
    padding: 0 100px 30px 100px;
    border-radius: 10px;
    width: 600px;
}

.modal-body--img img{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.modal-body--img{
    width: 100%;
}

.modal-body--img img:hover{
    transform:scale(1.02);
    transition:all 0.3s linear
}

.modal-end{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}


.modal-footer--add{
    border: none;
    outline: none;
    padding: 10px;
    background-color: var(--orange);
    border-radius: 10px;
    color: var(--white);
}

.modal-footer--add:hover,.modal-footer--buy:hover{
    transition: var(--smooth);
    color: var(--orange);
    background-color: #9a3324;

}

.modal-footer--buy{
    border: none;
    outline: none;
    padding: 10px 20px;
    background-color: var(--orange);
    border-radius: 10px;
    color: var(--white);

}

@media (max-width:739px) {
    .modal-container{
        padding: 10px;
        margin: 20px;
    }
    .modal-body{
        width: 200px;
    }
    .modal-body--img img{
        width: 100%;
    }
    .modal-end{
        justify-content: space-around;
    }
    .modal-end .modal-footer--add,.modal-end .modal-footer--buy{
        padding: 8px;
        font-size: 13px;
    }
}






/* List page */

.list-page{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.list-page .item{
    width: 37px;
    height: 37px;
    margin: 0 20px;
    background: #362f2f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-page .item:hover{
    background-color: var(--orange);
    transition: var(--smooth);
    cursor: pointer;
}

.list-page .item a{
    padding: 5px;
    color: #fff;
    text-decoration: none;
}

/* sale off */
.box-left{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3e413e;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.box-left h1{
    padding-top: 30px;
}

.box-left span:nth-child(1){
    color: #fff;
    font-size: 50px;
}

.box-left span:nth-child(2){
    color:orange;
    font-size: 180px;
}


.saleoff-content{
    width: 100%;
    height: 100%;
}

.saleoff{  
    padding-left: 0;
    padding-right: 0;
}

.saleoff .row{
    margin-right: 0;
    margin-left: 0;
}

.saleoff .container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.box-right{
    padding-left: 0;
    padding-right: 0;
}

.box-right img{
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
  }



  /* comment */

.item .avatar img{
    max-width: 100%;
    max-height: 100%;
    width: 100px;
    height: 100px;
}

.prev a i{
    font-size: 40px;
    color: #626262;
}
.next a i{
    font-size: 40px;
    color: #626262;
}

.item .stars span img{
    width: 100%;
    max-width: 20px;
    height: 100%;
    max-height: 20px;
}

.comment{
    width: 100%;
    height: 478px;
    margin: 0 auto;
    /* background-image: url("	https://botoquanmoc.com/images/config/testerminal.jpg"); */
}

.comment .row{
    justify-content: center;
}

.comment h2{
    text-align: center;
    padding-top: 50px;
    margin-bottom: 50px;
    font-size: 32px;
    color: #626a67;
}

.comment-body{
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 80%;
    height: 250px;
    overflow: hidden;
}

@media (max-width:739px){
    .comment-body{
        width: 95%;
    }
}

.list-comment{
    width: 100%;
    height: 100%;
    /* background: #362f2f; */
    transition: 0.5s;
    border-radius: 20px;

}

.list-comment .item{
    width: 100%;
    height: 100%;
    /* background: var(--white); */
    /* background-image: url("	https://botoquanmoc.com/images/config/testerminal.jpg"); */ 
    border-radius: 20px;
}

.list-comment .item .avatar{
    text-align: center;
    margin-bottom: 10px;
}
.list-comment .item .name{
    text-align: center;
    color:var(--black) ;
    font-weight: bold;

}
.list-comment .item .stars{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 15px;
}
.list-comment .item .text{
    text-align:center;
    color: var(--black);
    margin: 10px 20px;
}


/* Footer */
.footer{
    /* background-color:#fafafa; */
    background-image: linear-gradient(0deg, orange, rgb(252, 221, 226));
    padding: 40px;
}
.contact-list{
    list-style: none;
    padding-left: 0;
}

.contact-list--item a{
    font-weight: 400;
    text-decoration: none;
    color: #666;
}
.contact-list--item a:hover{
    color: var(--black);
    transition: var(--smooth);
}

.footer-col h3{
    font-size: 20px;
    font-weight: 500;
}
.contact-list .contact-list--item i{
    display: none;
}

.contact-list--item:hover i{
    display: inline-block;
    padding-right:5px ;
}